[workspace]
name = "anytraverse-ros"
description = "Development environment for RoboStack ROS packages"
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64", "osx-arm64"]

# For activation scripts, we use bash for Unix-like systems
[target.unix.activation]
scripts = ["install/setup.bash"]

[feature.build.target.unix.tasks]
build = "colcon build --symlink-install --cmake-args -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DPython_FIND_VIRTUALENV=ONLY -DPython3_FIND_VIRTUALENV=ONLY"

# Dependencies used by all environments
[dependencies]
python = "~=3.12.5"
# Build tools
compilers = "*"
cmake = "*"
pkg-config = "*"
make = "*"
ninja = "*"
# ROS specific tools
rosdep = "*"
colcon-common-extensions = "*"

[target.linux.dependencies]
libgl-devel = "*"

# Define all the different ROS environments
# Each environment corresponds to a different ROS distribution
# and can be activated using the `pixi run/shell -e <environment>` command.
[environments]
jazzy = { features = ["jazzy", "build"] }

[pypi-dependencies]
torch = ">=2.9.1, <3"
torchvision = ">=0.24.1, <0.25"
transformers = ">=4.57.3, <5"
einops = ">=0.8.1, <0.9"
accelerate = ">=1.12.0, <2"
matplotlib = ">=3.10.7, <4"
seaborn = ">=0.13.2, <0.14"
anytraverse = ">=1.0.8, <2"
pyzmq = ">=27.1.0, <28"
ormsgpack = ">=1.12.0, <2"
scipy = ">=1.16.3, <2"
ruff = ">=0.14.8, <0.15"

### ROS Jazzy ####
[feature.jazzy]
channels = ["https://prefix.dev/robostack-jazzy"]

[feature.jazzy.dependencies]
ros-jazzy-desktop = "*"
ros-jazzy-navigation2 = "*"
ros-jazzy-foxglove-bridge = "*"
ros-jazzy-compressed-depth-image-transport = "*"
ros-jazzy-compressed-image-transport = "*"
ros-jazzy-message-filters = "*"
